<div class="mt-4">
    <div class="row">
        <div class="col-md-3">
            <p>Lorem ipsum dolor sit amet.</p>
            <br>
            <button class="btn btn-primary">Hoc ngay</button>
        </div>
        <div class="col-md-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}?si=tTi2Tji9RhsTvHyv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>