<div class="mt-3">
    <form method="POST" action="">
        <div class="mb-3">
            <label for="search-input" class="form-label">Tu khoa</label>
            <input type="text" class="form-control" name="q" id="search-input" placeholder="Nhap tu khoa ...">
        </div>
         <div class="mb-3">
            <label for="gender-input" class="form-label">Tu khoa</label>
            <select class="form-control" name="gender" id="gender-input" >
                <option value="">-- Chon gioi tinh --</option>
                <option value="male">Nam</option>
                <option value="female">Nu</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tim kiem</button>
    </form>
</div>